.weather-rose {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 10px;
}
.weather-rose::before {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 50%;
}
.weather-rose-relative {
  background: url(/static/img/plane_white.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}
.weather-rose > .weather-needle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(45deg);
}
.weather-rose > .weather-needle::after {
    content: '';
    width: 3px;
    height: 20%;
    background-color: red;
    position: absolute;
    top: -10%;
    left: 50%;
    margin-left: -1px;
}
.weather-rose-north::after {
    content: 'N';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}
.weather-rose > .weather-subtext {
    width: 100%;
    height: 20px;
    text-align: center;
}