	<div class="collapse" id="collapseFindmyplane" data-parent="#myGroup">
		<div class="card bg-dark text-white" style="margin-top:10px;margin-bottom:12px;">
			<div class="card-body">
			
				<!-- First Row-->
				<div class="row" style="margin-top:-23px">
					<!-- Ladning Details -->
					<div class="col" style="margin-top:20px">
						<div class="lead" style="margin-bottom:10px">Find My Plane</div>
                    </div>
				</div>

				<hr class="bg-secondary">
				

			</div>
		</div>
	</div>