	<div class="collapse" id="collapseFindmyplane" data-parent="#myGroup">
		<div class="card bg-dark text-white" style="margin-top:10px;margin-bottom:12px;">
			<div class="card-body">


				<!-- First Row-->
				<div class="row" style="margin-top:-23px">

					<!-- Findmyplane details -->
					<div class="col" style="margin-top:20px">

                        <div class="lead" style="margin-bottom:-15px">AP Master</div>
                        <button onclick="" id="findmyplaneMaster" type="button" class="btn mt-3 btn-block btn-danger btn-lg">?</button>
                        <hr class="bg-secondary" style="margin-bottom:5px">


                        <div class="lead" style="margin-bottom:10px">Online tracking status</div>

						<p style="margin-bottom:0px">Connection status: <span id="findmyplaneConnectionStatus">Disconnected</span></p>
                        <p style="margin-bottom:0px">IDENT: <span id="findmyplaneIdent">N/A</span></p>
                        <p style="margin-bottom:0px">Following Link: <span id="findmyplaneFollowingURL">N/A</span></p>

                        <p class="font-italic text-secondary" style="margin-bottom:0px">MSFS Mobile Companion App integrates with <a href="https://findmyplane.live/" target="blank">Find My Plane</a>to allow you to view your flight location online with other players.</p>
					</div>
				</div>


			</div>
		</div>
	</div>